{% extends './base.html' %}
{% block title %}I.S.P.P. N°1{% endblock %}
{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %} 
<header>
    <nav>
        <section class="contenedor nav">
            <div class="logo">
                <img class="mb-4" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
            </div>
            <div class="enlaces-header">
                <a href="#">Avisos</a>
                <button><a href="/login" class="fcc-btn">Ingresar</a> </button>
            </div>
            <div class="hamburguer">
                <i class="fas fa-bars"></i>
            </div>
        </section>
    </nav>
    <div class="contenedor">
        <section class="contenido-header">
            <section class="textos-header">
                <h1>Instituto Superior del Profesorado N° 1</h1>
                <p>Prof. Rodolfo Argentino Diaz</p>
            </section>
            <img class="mb-4" src="{{ url_for('static', filename='images/ispp1_nuevo.jpg') }}" alt="">
        </section>
    </div>
</header>
{% endblock %} 
    